<body>



<div id="particles-js">
    <div id="title">
        <h1>AppTrend</h1>
        <p><a href="/picture_stores">>人気アプリを見る</a></p>
    </div>
</div>

<script src="/particles.js"></script>
<script src="/app.js"></script>
</body>